<!DOCTYPE html>
<html>

  <head>
    <title><%= settings.title %> | <%= @title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </head>

  <body> 

    <div class="container">



      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">

            <a href="/" class="brand">Weight Tracker</a>

            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">History<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/history/7">Last 7 days</a></li>
                  <li><a href="/history/30">Last 30 days</a></li>
                  <li><a href="/history/all">All Time</a></li>
                </ul>
              </li>
              <li><a href="/settings">Settings</a></li>
            </ul>

          </div>
        </div>
      </div>



      <%= yield %>


    </div> <!-- main container -->

  </body>
</html>
